* {
    margin: 0px;
    padding: 0px;
}

/* header section */

body{
    padding-top: 2rem;
}
.header{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.title-img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-right: 10px;
}
.title{
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-weight: 800;
}
.explorations{
    color: #FF5400;
}
.list-container{
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    list-style-type: none;
}
.list-container .list-item a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.1rem;
    font-weight: 400;
}
.list-container .list-item .home{
    color: #FF5400;
    font-weight: 700;
}

/* banner section */

.banner{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
              url('../Images/Group 13 (1) (1).png');
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 6.6rem;
}
.banner-title-description{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-top: 1.5rem;
    width: 676px;
}
.banner-2{
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3.7rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.place, .time, .select-type{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}
.btn-primary{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

/* popular-tours-section */

.popular-tours-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-tours-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.popular-tours-description{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.popular-tours-list-container{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
}
.popular-tours-list{
    margin-top: 1.5rem;
}
.himalayan-mountains{
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}

/* destination-section */

.destination-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
}
.destination-img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1.5rem;
}
.image {
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    line-height: 19rem;
    border-radius: 16px;
}
#pic1 {
    background-image: url('../Images/Rectangle\ 5.png');
    width: 573px;
    height: 300px;
}

#pic2 {
    background-image: url('../Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
}

#pic3 {
    background-image: url('../Images/Rectangle\ 6.png');
    width: 374px;
    height: 286px;
}

#pic4 {
    background-image: url('../Images/Rectangle\ 7.png');
    width: 474px;
    height: 286px;
}

#pic5 {
    background-image: url('../Images/Rectangle\ 9.png');
    width: 274px;
    height: 286px;
}

#pic6 {
    background-image: url('../Images/Rectangle\ 11.png');
    width: 473px;
    height: 300px;
}

#pic7 {
    background-image: url('../Images/Rectangle\ 10.png');
    width: 673px;
    height: 300px;
}

/* exceptionality-section */

.exceptionality-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}
.exceptionality-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.exceptionality-description{
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.3rem;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.box-1{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.box-2{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.box-3{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.box-container h5{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-top: 1.6rem;
    margin-left: 2rem;
}
.box-container p{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.box-container img{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-top: 2rem;
    margin-left: 2rem;
}

/* perfect-place-section */

.perfect-place-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.perfect-place-title{
    width: 448px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
.perfect-place-description{
    width: 532px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
}
.perfect-place-list-container{
    width: 518px;
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.perfect-place-list{
    margin-top: 1rem;
}
.tabby-cat{
    width: 610px;
    height: 424px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);  
}

/* newsletter-section */

.newsletter-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.newsletter{
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}
.newsletter-description{
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 2.5rem;
    margin-top: 1rem;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}
.name, .email{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: none;
}
.btn-secondary{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-top: 1rem;
}
.travel-container{
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
}
.travel-address{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    margin-top: 1.5rem;
}
.save{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.travel{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    right: 0.37rem;
    bottom: 2.9rem;
    z-index: 1;
}

/* footer-section */

.footer-container{
    width: 100%;
    height: 502px;
    margin: 0 auto;
    flex-shrink: 0;
    margin-top: 3rem;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-top: 110px;
    margin-left: 11rem;
}
.footer-title{
    color:#131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
.footer-description{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 1rem;
}
.social{
    width: 174.322px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 3rem;
    margin-left: 18.8rem;
}
.footer-2{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-top: 100px;
}
.footer-container::after {
    content: "";
    position: absolute;
    top: 360px;
    left: 100px;
    right: 100px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}
  

@media screen and (max-width: 600px){
    
    /* header section */
    
    .header{
        max-width: 335px;
        width: 100%;
    }
    .nav-text{
        display: none;
    }
    .logo img{
        width: 28.724px;
        height: 33.516px;
    }
    .logo h3{
    font-size: 21.543px;
    font-weight: 800;
    }

    /* banner section */

    .banner{
        max-width: 335px;
        width: 100%;
        height: 483px;
    }
    .banner-title{
        font-size: 1.37rem;
        margin-top: 2rem;
    }
    .banner-title-description{
        font-size: 0.87rem;
        line-height: 1.3rem;
        width: 304px;
        margin-top: 1rem;
    }
    .banner-2{
        display: flex;
        width: 287px;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
    .place, .time, .select-type{
        width: 255px;
    }
    .btn-primary{
        width: 255px;
    }

   /* popular-tours-section */

   .popular-tours-container{
        max-width: 335px;
        width: 100%;
        flex-direction: column;
   }
   .popular-tours-title{
        font-size: 20px;
   }
   .popular-tours-description{
        width: 335px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 1rem;
        margin-bottom: 1.4rem;
   }
   .popular-tours-list-container{
        width: 335px;
        font-size: 14px;
        line-height: 24px;
   }
   .popular-tours-list{
       margin-top: 1rem;
   }
   .himalayan-mountains{
        width: 335px;
        height: 342px;
        flex-shrink: 0;
        margin-top: 1.6rem;
   }

   /* destination-section */

   .destination-container{
        max-width: 335px;
        width: 100%;
        flex-direction: column;
   }
   .destination-title{
        font-size: 20px;
   }
   .destination-description{
        width: 309px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 1rem;
   }
   .destination-img{
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
   }
   .image{
        line-height: 11rem;
        /* font-size: 1.25rem;
        font-weight: 600; */
   }
   #pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7{
        width: 335px;
        height: 176px;
        flex-shrink: 0;
   }

   /* exceptionality-section */

   .exceptionality-container{
        max-width: 335px;
        width: 100%;
        flex-direction: column;
   }
   .exceptionality-title{
        font-size: 20px;
   }
   .exceptionality-description{
        width: 309px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 0.8rem;
   }
   .box-container{
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
   }
   .box-1, .box-2, .box-3{
    width: 335px;
    height: 289px;
   }
   .box-container h5{
    font-size: 20px;
    margin-top: 1.4rem;
    margin-left: 2rem;
    }
    .box-container p{
        width: 271px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 1.3rem;
        margin-left: 2rem;
    }
    .box-container img{
        width: 48px;
        height: 48px;
    }

    /* perfect-place-section */

    .perfect-place-container{
        max-width: 335px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .perfect-place-title{
        width: 248px;
        font-size: 20px;
        line-height: 30px;
    }
    .perfect-place-description{
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        line-height: 24px;
        margin-top: 1rem;
    }
    .perfect-place-list-container{
        width: 335px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .perfect-place-list{
        margin-top: 0.8rem;
    }
    .tabby-cat{
        width: 335px;
        height: 200px;
        margin-top: 1.5rem;
    }

    /* newsletter-section */

    .newsletter-container{
        max-width: 335px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .newsletter{
        width: 335px;
        height: 353px;
    }
    .newsletter-title{
        font-size: 20px;
        margin-top: 1.5rem;
        margin-left: 1.45rem;
    }
    .newsletter-description{
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 0.5rem;
        margin-left: 1.45rem;
    }
    .newsletter-form{
        margin-top: 1.5rem;
        margin-left: 1.45rem;
    }
    .name, .email{
        width: 288px;
    }
   .btn-secondary{
        width: 288px;
    }
    .travel-container{
        width: 335px;
        height: 300px;
        margin-top: 1rem;
    }
    .travel{
        width: 214.023px;
        height: 79.268px;
        border-radius: 10.569px;
        bottom: 1.9rem;
        right: 0.2rem;
    }
    .travel-address{
        font-size: 15.854px;
    }
    .save{
        font-size: 21.138px;
    }

    /* footer-section */

    .footer-container{
        width: 375px;
        height: 309px;
    }
    .footer-logo{
        margin-left: 1.2rem;
        margin-top: 2rem;
    }
    .title-img{
        width: 28.724px;
        height: 33.516px;
    }
    .title{
        font-size: 21.543px;
    }
    .footer-description{
        width: 287px;
        font-size: 14px;
        line-height: 24px;
        margin-left: 1.6rem;
        margin-top: 1rem;
    }
    .social{
        width: 174.322px;
        height: 24px;
        margin-left: 4rem;
        margin-top: 1rem;
    }
    .footer-2{
        font-size: 14px;
        margin-top: 3rem;
    }
    .footer-container::after {
        content: "";
        position: absolute;
        top: 14rem;
        left: 1rem;
        right: 1rem;
        border-top: 1px solid rgba(19, 19, 24, 0.10);
    }
}