* {
    margin: 0px;
    padding: 0px;
}
body{
    padding-top: 30px;
}
.header{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-right: 10px;
}
.logo h3{
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-weight: 800;
}
.explorations{
    color: #FF5400;
}
.list-container{
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    list-style-type: none;
}
.list-container .list-item a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.1rem;
    font-weight: 400;
}
.list-container .list-item .home{
    color: #FF5400;
    font-weight: 700;
}
@media screen and (max-width: 600px) {
    .header{
        width: 90%;
     }
    .logo img{
        margin-right:5px; 
        width: 28.724px;
        height: 33.516px;
     
    }
    .logo h3{
        font-size: 1.3rem;
    }
    .nav-text{
       display: none;
    }
}